@media only screen and (min-width: 375px) and (max-width: 767px) {
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300&display=swap');
    body{
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;
    }
    header{
        width: 100%;
        height: 486px;
        background-color: #F7F7F8;
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav{
        width: 100%;
        height: 75px;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
    }
    .navbarContainer{
        width: 85%;
        display: flex;
        align-items: center;
     
    }
    .logo{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo a{
        font-size: 2.2rem;
        font-weight: bold;
        margin: 0;
        text-decoration: none;
        color: rgb(3, 3, 3);
    }
    .links{
        display: none;
    }
    .hamburgerButton img{
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
    main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mainInfo{
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }
    .title{
        height: 134px;
    }
    .title h2{
        margin: 0;
        font-weight: 400;
        font-size: 1.3rem;
        color: #EC4327;
    }
    .title h1{
        width: 100%;
        height: 100%;
        font-size: 1.9rem;
        margin: 0;
        padding: 0;
        font-weight: 800;
        color: #760502;
    }
    .titleSpam{
        color: #EC4327;
    }
    .paragraph{
        width: 100%;
        height: auto;
        border: 4px solid #FFFFFF;
        display: flex;
        align-items: center;
    }
    .paragraph p{
       font-size: 12px;
       background-color: red;
    }
    .timeZone{
       width: 100%;
       height: auto;
       display: flex;
       flex-direction: column;
       justify-content: end;
    }
    .time{
        height: auto;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        color: #515151;
    }
    .zone{
        font-size: 0.8rem;
        height: auto;
        margin: 0;
        padding: 0;
        color: #868686;
    }


}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body{
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;
    }
    header{
        width: 100%;
        height: 723px;
        margin-top: 75px;
        background-color: #F7F7F8;
        
    }
    nav{
        width: 100%;
        height: 75px;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
    }
    .navbarContainer{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
     
    }
    nav a{
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        text-decoration: none;
        color: rgb(14, 13, 13);
    }
    .hamburgerButton{
        display: none;
    }
    .links{
        display: flex;
        align-items: center;
        gap: 1rem;
        list-style: none;
    }
    .links a{
        text-decoration: none;
        font-size: 1rem;
        color: #868686;

    }
    .button a{
        margin-left: 1rem;
        padding: 1rem;
        border-radius: 5px;
    }

    /* HOVERS */
    nav a:hover{
        color: #EC4327;
    }
    .links a:hover{
        color: #F07F7E;
    }
    .button a:hover{
        border: 4px solid #EC4327;
        color: #EC4327;
    }
}
@media screen and (min-width: 1023px){
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300&display=swap');
    body{
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;
    }
    header{
        width: 100%;
        height: 887px;
        margin-top: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F7F7F8;
        
    }
    nav{
        width: 100%;
        height: 75px;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
    }
    .navbarContainer{
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
     
    }
    .logo a{
        font-size: 2.2rem;
        font-weight: bold;
        margin: 0;
        text-decoration: none;
        color: rgb(3, 3, 3);
    }
    .hamburgerButton{
        display: none;
    }
    .links{
        display: flex;
        align-items: center;
        gap: 3.2rem;
        list-style: none;
    }
    .links a{
        text-decoration: none;
        font-size: 1rem;
        color: #868686;

    }
    .button a{
        margin-left: 1rem;
        padding: 0.8rem;
        border-radius: 5px;
    }

    /* ========================================== */
    main{
        width: 87%;
        height: 650px;
    }
    .mainInfo{
        width: 793px;
        height: 100%;
        padding: 0rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title{
        width: 100%;
        height: auto;
    }
    .title h2{
        margin: 0;
        font-weight: 400;
        font-size: 2.5rem;
        color: #EC4327;
    }
    .title h1{
        width: 95%;
        height: 100%;
        font-size: 4.5rem;
        margin: 0;
        padding: 0;
        font-weight: 800;
        color: #760502;
    }
    .titleSpam{
        color: #EC4327;
    }
    .paragraph{
        width: 100%;
        height: auto;
        border: 6px solid #FFFFFF;
        padding: 1rem;
        display: flex;
        align-items: center;
    }
    .paragraph p{
        font-size: 25px;
        line-height: 36px;
        color: #515151;
        background-color: #F7F7F8;
    }
    .timeZone{
        width: 100%;
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .time{
        height: auto;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        color: #515151;
    }
    .zone{
        font-size: 2rem;
        height: auto;
        margin: 0;
        padding: 0;
        color: #868686;
    }

    /* HOVERS */
    nav a:hover{
        color: #EC4327;
    }
    .links a:hover{
        color: #F07F7E;
    }
    .button a:hover{
        border: 4px solid #EC4327;
        color: #EC4327;
    }
   
}
    